
/** generic **/

    .alertGeneric
    {
        padding: 20px;
        margin: 60px 0;
        box-shadow: 6px 6px 10px 1px grey;
        text-align: center;
        font-size: 16px;
        border-radius: 3px;
    }

    .backgroundColorAlertInvalid
    {
        background-color: lightcoral;
    }

    .backgroundColorAlertValid
    {
        background-color: lightgreen;
    }

    .numberUnreadComment
    {
        font-size: 22px;
    }

    .sectionDetail
    {
        : 50px 0;
    }

    .colorButtonNav
    {
        color: white;
    }

/** viewHome **/

    .paragraph {
      font-size: 20px;
        text-align: justify;
        margin : 0 150px;
    }
    .pictureHome {
        overflow: hidden;
    }
    .novelTitle {
      opacity: 1;
      position: absolute;
      top: 50px;
      z-index: 1;
      font-family: cursive , "times new roman", times, serif;
      font-size: 50px;
      color: white;
      padding: 0 0 0 70px;
    }
    .principalTitleSection {
      text-align: center;
      font-size: 25px;
    }
    .sectionHome, .sectionLogin, .sectionCGU, .sectionChapter, .sectionAbout, .sectionContact, .sectionDashboard {
      min-height: 620px;
    }
    .sectionHome {
      padding: 15px 0;
    }
    .sectionLogin, .sectionCGU, .sectionChapter, .sectionAbout, .sectionContact, .sectionDashboard {
      padding: 60px 30px;
    }
    .sectionChapter {
      border-left: 1px solid black;
      padding: 0px 15px;
    }
    .chapterViewListSmallChapter, .chapterViewFullChapter {
        margin: 80px 80px;
      padding: 15px 15px;
      border: 1px solid lightgrey;
        box-shadow: 6px 6px 10px 1px grey;
    }
    .ChapterViewHome {
        margin: 20px 40px;
        padding: 15px 15px;
        border: 1px solid lightgrey;
        box-shadow: 6px 6px 10px 1px grey;
    }
    a, a:hover {
    text-decoration: none;
    color: blue;
    }
    a:hover {
    text-decoration: none;
    color: lightblue;
    }


/** viewChapter **/

      .autor {
        font-size: 12px;
      }
      .formComment {
        padding: 15px 50px;
        border-bottom: 1px solid grey;
      }
      .sectionComment {
          margin: 30px 0;
        padding: 15px 80px;
        border-bottom: 1px solid blue;
      }
      .comment {
          border: 1px solid lightgrey;
          padding: 25px;
          box-shadow: 6px 6px 10px 1px grey;
      }
      .contentChapter {
         margin: 0 100px 0 40px;
         font-size: 20px;
      }
      h6 {
        font-size: 10px;
        color: grey;
      }
/** viewAbout **/

      .pitureAbout {
        text-align: center;
      }

/** viewContact **/

/** viewDashdoard **/
    .sectionMessage {
        margin: 30px 0;
        padding: 15px 80px;
        }
      .sectionMenu {
          min-height: 700px;
        padding: 0 10px;
      }
      .sectionDetail {
          border-left: 1px solid grey;
        min-height: 700px;
        padding: 50px 10px 0 ;
      }
      .menuDashboard {
        padding: 10px 20px 10px 30px;
        border-bottom: 1px solid grey;
      }
      .menuDashboard:hover {
        cursor: pointer;
        background-color: lightblue;
      }
      .sectionMenuChapter, .sectionMenuComment, .sectionMenuMessage {
        margin: 0 0 50px;
      }
      .colorMenu {
        background-color: lightgrey;
      }
      .listMessageContact, .listComment, .listChapter, .listReportComment, .listValidateComment, .listBlockComment {
        padding: 10px 20px 6px;
        border-bottom: 1px solid grey;
        color: black;
      }
      .listMessageContact:hover, .listComment:hover, .listChapter:hover, .listReportComment:hover, .listValidateComment:hover, .listBlockComment:hover {
        cursor: pointer;
        background-color: lightblue;
        color: black;
      }
      ul {
        list-style-type: none;
      }
      .sectionDashboard a {
        color: black;
      }
      .btn {
          margin: 0 20px;
        padding: 10px 0;
      }

